body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:852px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.847058823529412);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5 {
  position:absolute;
  left:110px;
  top:54px;
  width:375px;
  height:667px;
}
#u6 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:1px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u7 {
  position:absolute;
  left:119px;
  top:61px;
  width:49px;
  height:1px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:15px;
}
#u9 {
  position:absolute;
  left:178px;
  top:61px;
  width:23px;
  height:15px;
}
#u10 {
  position:absolute;
  left:2px;
  top:0px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u11 {
  position:absolute;
  left:264px;
  top:61px;
  width:68px;
  height:14px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:14px;
}
#u13 {
  position:absolute;
  left:372px;
  top:61px;
  width:16px;
  height:14px;
}
#u14 {
  position:absolute;
  left:2px;
  top:-1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u15 {
  position:absolute;
  left:398px;
  top:61px;
  width:24px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:15px;
}
#u17 {
  position:absolute;
  left:422px;
  top:61px;
  width:34px;
  height:15px;
}
#u18 {
  position:absolute;
  left:2px;
  top:0px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:250px;
}
#u19 {
  position:absolute;
  left:110px;
  top:194px;
  width:375px;
  height:250px;
}
#u20 {
  position:absolute;
  left:2px;
  top:117px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u21 {
  position:absolute;
  left:234px;
  top:156px;
  width:129px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u23_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23 {
  position:absolute;
  left:159px;
  top:654px;
  width:5px;
  height:20px;
}
#u24 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:43px;
}
#u25 {
  position:absolute;
  left:258px;
  top:109px;
  width:84px;
  height:43px;
}
#u26 {
  position:absolute;
  left:2px;
  top:14px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u27 {
  position:absolute;
  left:111px;
  top:21px;
  width:117px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u29_div {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u29 {
  position:absolute;
  left:190px;
  top:464px;
  width:209px;
  height:34px;
  color:#CCCCCC;
  text-align:left;
}
#u30 {
  position:absolute;
  left:2px;
  top:10px;
  width:205px;
  word-wrap:break-word;
}
#u31_div {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u31 {
  position:absolute;
  left:190px;
  top:513px;
  width:209px;
  height:33px;
  color:#CCCCCC;
  text-align:left;
}
#u32 {
  position:absolute;
  left:2px;
  top:9px;
  width:205px;
  word-wrap:break-word;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:2px;
}
#u33 {
  position:absolute;
  left:205px;
  top:622px;
  width:173px;
  height:1px;
}
#u34 {
  position:absolute;
  left:2px;
  top:-8px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u35 {
  position:absolute;
  left:242px;
  top:636px;
  width:116px;
  height:18px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:39px;
}
#u37 {
  position:absolute;
  left:275px;
  top:668px;
  width:31px;
  height:29px;
}
#u38 {
  position:absolute;
  left:2px;
  top:6px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:37px;
}
#u39 {
  position:absolute;
  left:229px;
  top:670px;
  width:29px;
  height:27px;
}
#u40 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:37px;
}
#u41 {
  position:absolute;
  left:325px;
  top:670px;
  width:31px;
  height:27px;
}
#u42 {
  position:absolute;
  left:2px;
  top:6px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u43 {
  position:absolute;
  left:190px;
  top:554px;
  width:61px;
  height:14px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u45_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u45 {
  position:absolute;
  left:357px;
  top:554px;
  width:49px;
  height:11px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u47_div {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:34px;
  background:inherit;
  background-color:rgba(102, 204, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:18px;
}
#u47 {
  position:absolute;
  left:190px;
  top:574px;
  width:209px;
  height:34px;
  font-size:18px;
}
#u48 {
  position:absolute;
  left:2px;
  top:6px;
  width:205px;
  word-wrap:break-word;
}
#u49_div {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:203px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49 {
  position:absolute;
  left:573px;
  top:84px;
  width:279px;
  height:203px;
}
#u50 {
  position:absolute;
  left:2px;
  top:94px;
  width:275px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u51 {
  position:absolute;
  left:599px;
  top:112px;
  width:129px;
  height:26px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u53_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:99px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u53 {
  position:absolute;
  left:599px;
  top:168px;
  width:239px;
  height:99px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  word-wrap:break-word;
}
